<div class="edit_photo">
	<form method="POST" encType="multipart/form-data">
		<input type="hidden" name="type" value="0">
		<img class="edit_photo_mini" id="currentPhoto" src="/images/<%=session.user.login %>/photo_1.jpg" onerror="this.src='../images/default.png'">
		<input type="file" name="photo_1">
<!-- 		<label><input type="radio" name="profile" value="1" <% if (prof_nbr == 1) { %> checked="checked" <% } %> >Photo de profil</label> -->
		<img class="edit_photo_mini" id="currentPhoto" src="/images/<%=session.user.login %>/photo_2.jpg" onerror="this.src='../images/default.png'">		
		<input type="file" name="photo_2">
<!-- 		<label><input type="radio" name="profile" value="1" <% if (prof_nbr == 2) { %> checked="checked" <% } %> >Photo de profil</label> -->
		<img class="edit_photo_mini" id="currentPhoto" src="/images/<%=session.user.login %>/photo_3.jpg" onerror="this.src='../images/default.png'">		
		<input type="file" name="photo_3">
<!-- 		<label><input type="radio" name="profile" value="1" <% if (prof_nbr == 3) { %> checked="checked" <% } %> >Photo de profil</label> -->
		<img class="edit_photo_mini" id="currentPhoto" src="/images/<%=session.user.login %>/photo_4.jpg" onerror="this.src='../images/default.png'">		
		<input type="file" name="photo_4">
<!-- 		<label><input type="radio" name="profile" value="1" <% if (prof_nbr == 4) { %> checked="checked" <% } %> >Photo de profil</label> -->
		<button type="submit" class="btn-primary"> Valider </button>
	</form>
</div>

<% if (_.findWhere(photo, {path: "/images/"+session.user.login+"photo_1"})) { %>
	<img class="edit_photo_mini" id="currentPhoto" src="/images/<%=session.user.login %>/photo_1.jpg">
	
<% } else { %>
<% } 
	if ()
%>