<div class= relation>
	<% if (locals.button_1 && (locals.button_1 == 1 || locals.button_1 == 3)) { %>
	<form action="/relation0" method="post">
		<input type="hidden" name="type" value='0'>
		<input type="hidden" name="id_aut" value="<%= session.user.id%>">
		<input type="hidden" name="id_rec" value="<%= profile.id%>">
		<% if (locals.button_1 == 1) { %>
			<button type="submit" class="btn btn-primary" ><i class="button_relation fa fa-3x fa-heart text-white" 
			aria-hidden="true"></i></button>
		<% } else if (locals.button_1 == 3) { %>
		<button type="submit" class="btn btn-primary" ><i class="button_relation fa fa-3x fa-fire text-white" 
		aria-hidden="true"></i></button>
		<% } %>
	</form>
	<% } %>
	<% if (locals.button_1 && (locals.button_1 == 2 || locals.button_1 == 4)) { %>
	<form action="/relation2" method="post">
		<input type="hidden" name="type" value='1'>
		<input type="hidden" name="id_aut" value="<%= session.user.id%>">
		<input type="hidden" name="id_rec" value="<%= profile.id%>">
		<% if (locals.button_1 == 2) { %>
			<button type="submit" class="btn btn-danger" ><i class="button_relation fa fa-3x fa-heart text-white" 
			aria-hidden="true"></i></button>
		<% } else if (locals.button_1 == 4) { %>
			<button type="submit" class="btn btn-danger" ><i class="button_relation fa fa-3x fa-fire text-white" 
			aria-hidden="true"></i></button>
		<% } %>
	</form>
	<% } %>
	<% if (locals.button_1 && locals.button_1 == 4) { %>
	<a href="/chat" class="btn btn-primary"><i class="button_relation fa fa-3x fa-comments" aria-hidden="true"></i></a>
	<% } %>
	<form action="/relation1" method="post">
		<input type="hidden" name="type" value='2'>
		<input type="hidden" name="id_aut" value="<%= session.user.id%>">
		<input type="hidden" name="id_rec" value="<%= profile.id%>">
		<button type="submit"  class="btn btn-danger" ><i class="button_relation fa fa-3x fa-ban" aria-hidden="true"></i></button>
	</form>
</div>